.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 1px 1px 5px -4px #000000;
  margin-bottom: 20px;
  width: 250px;
}

.card:hover {
  background-color: #F2F2F2;
}

.card-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 20px 20px 10px 20px;
  word-wrap: break-word;
}

.card-subtitle {
  font-size: 1rem;
  color: #BDC3C7;
  margin: 0 20px 20px 20px;
}

.card-description {
  margin: 0 20px 20px 20px;
  word-wrap: break-word;
}
