.container {
  background-color: #FFFFFF;
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px -4px #000000;
}

.searchbar {
  background-color: #FFFFFF;
  border: 1px solid #ECF0F1;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
